{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commanddetail</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commandDetail.id }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ commandDetail.number }}</td>
            </tr>
            <tr>
                <th>Cost</th>
                <td>{{ commandDetail.cost }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('commanddetails_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('commanddetails_edit', { 'id': commandDetail.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
