<!DOCTYPE html>
<html lang="fr">
<head>
<title>{% block title %}DECODES SHOP{% endblock %}</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Colo Shop Template">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="{{ asset('images/icon-decodes/download_BcF_1.ico') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('styles/bootstrap4/bootstrap.min.css') }}">
<link href="{{ asset('plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{{ asset('plugins/OwlCarousel2-2.2.1/owl.carousel.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('plugins/OwlCarousel2-2.2.1/owl.theme.default.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('plugins/OwlCarousel2-2.2.1/animate.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('styles/main_styles.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('styles/responsive.css') }}">

 {% block stylesheets %}{% endblock %}
</head>

<body>


<div class="super_container">

    <!-- Header -->
    {% block header %}
    <header class="header trans_300">

        <!-- Top Navigation -->

        <div class="top_nav">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="top_nav_left">LIVRAISON GRATUITE POUR TOUTES LES COMMANDES A NADOR</div>
                    </div>
                    <div class="col-md-6 text-right">
                        <div class="top_nav_right">
                            <ul class="top_nav_menu">

                                <!-- Currency / Language / My Account -->

                                <li class="currency">
                                    <a href="#">MAD</a>
                                </li>
                                <li class="language">
                                    <a href="#">
                                        Français<i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="language_selection">
                                        <li><a href="#">العربية </a></li>
                                        <li>(قريبا)</li>
                                    </ul>
                                </li>
                                <li class="account">
                                    <a href="#">
                                        Mon Compte
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="account_selection">
                                        {% if is_granted('ROLE_USER') %}
                                            <li>Salut, {{ app.user.username }} !</li>
                                            <li><a href="{{ path('logout') }}">quitter</a></li>
                                        {% elseif is_granted('ROLE_ADMIN') %}
                                            <li>Salut, {{ app.user.username }} !</li>
                                            <li><a href="{{ path('client_index') }}">Clients</a></li>
                                            <li><a href="{{ path('admin_index') }}">Admins</a></li>
                                            <li><a href="{{ path('command_index') }}">Commandes</a></li>
                                            <li><a href="{{ path('product_index') }}">Produits</a></li>
                                            <li><a href="{{ path('category_index') }}">Categories</a></li>
                                            <li><a href="{{ path('logout') }}">Quitter</a></li>
                                        {% else %}
                                            <li><a href="{{ path('login') }}"><i class="fa fa-sign-in" aria-hidden="true"></i>Connecter</a></li>
                                            <li><a href="{{ path('decodes_signup') }}"><i class="fa fa-user-plus" aria-hidden="true"></i>S'inscrire</a></li>
                                        {% endif %}
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main Navigation -->

        <div class="main_nav_container">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-right">
                        <div class="logo_container"><a href="{{ path('decodes_homepage') }}">DECODES<span> Shop<span style=""></span></span> </a></div>
                        <nav class="navbar">
                            <ul class="navbar_menu">
                                <li><a href="{{ path('decodes_homepage') }}">accueil</a></li>
                                <li><a href="{{ path('product_index') }}">Nos produits</a></li>
                                <li><a href="{{ path('decodes_contact') }}">contact</a></li>

                            </ul>
                            <ul class="navbar_user">



                                {% if is_granted('ROLE_USER') %}

                                <li><a href="{{ path('decodes_account', { 'id': app.user.id })  }}"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                                <li class="checkout">
                                    <a href="{{ path('ShowCart') }}">
                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                        <span id="checkout_items" class="checkout_items">{% for count in count %}{{ count.countlist }}{% endfor %}</span>
                                    </a>
                                </li>
                                    <li>
                                        <a href="{{ path('logout') }}" class="fa fa-sign-out"></a>
                                    </li>
                                {% elseif is_granted('ROLE_ADMIN') %}
                                    <li>
                                        <a href="{{ path('messages_index') }}">
                                            <i class="fa fa-envelope-o" style="font-size:36px"></i>
                                            <span id="checkout_items" class="checkout_items"></span>
                                        </a>
                                    </li>
                                    <li>

                                    </li>
                                {% endif %}
                            </ul>
                            <div class="hamburger_container">
                                <i class="fa fa-bars" aria-hidden="true"></i>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

    </header>

    <div class="fs_menu_overlay"></div>
    <div class="hamburger_menu">
        <div class="hamburger_close"><i class="fa fa-times" aria-hidden="true"></i></div>
        <div class="hamburger_menu_content text-right">
            <ul class="menu_top_nav">
                <li class="menu_item has-children">
                    <a href="#">
                        MAD
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="menu_selection">
                        <li><a href="#">MAD</a></li>
                    </ul>
                </li>
                <li class="menu_item has-children">
                    <a href="#">
                        Français
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="menu_selection">
                        <li><a href="#">Arabic</a></li>
                    </ul>
                </li>
                <li class="menu_item has-children">
                    <a href="#">
                        Mon compte
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="menu_selection">
                        {% if is_granted('ROLE_USER') %}
                            <li>Salut, {{ app.user.username }} !</li>
                            <li><a href="{{ path('logout') }}">quitter</a></li>
                        {% elseif is_granted('ROLE_ADMIN') %}
                            <li>Salut, {{ app.user.username }} !</li>
                            <li><a href="{{ path('client_index') }}">Clients</a></li>
                            <li><a href="{{ path('admin_index') }}">Admins</a></li>
                            <li><a href="{{ path('command_index') }}">Commandes</a></li>
                            <li><a href="{{ path('product_index') }}">Produits</a></li>
                            <li><a href="{{ path('category_index') }}">Categories</a></li>
                            <li><a href="{{ path('logout') }}">Quitter</a></li>
                        {% else %}
                            <li><a href="{{ path('login') }}"><i class="fa fa-sign-in" aria-hidden="true"></i>connecter</a></li>
                            <li><a href="{{ path('decodes_signup') }}"><i class="fa fa-user-plus" aria-hidden="true"></i>s'inscrire</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li class="menu_item"><a href="{{ path('decodes_homepage') }}">Acceuil</a></li>
                <li class="menu_item"><a href="{{ path('product_index') }}">Nos Produit</a></li>
                <li class="menu_item"><a href="{{ path('decodes_contact') }}">contact</a></li>
            </ul>
        </div>
    </div>
    {% endblock %}

    {% block slider %}
    <!-- Slider -->
    <div class="main_slider" style="background-image:url({{ asset('images/slider_1.jpg') }})">
        <div class="container fill_height">
            <div class="row align-items-center fill_height">
                <div class="col">
                    <div class="main_slider_content">
                        <h3>Depuis sa création, <b style="color: #fe4c50">DECODES</b> n’a pas cessé d’évoluer. Aujourd’hui, elle occupe les premiers rangs parmi les grands spécialistes de distribution des produits de second œuvre.</h3>
                        <div class="red_button"><a href="{{ path('product_index') }}">&nbsp;Passez à la boutique&nbsp;</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block banner %}
    {% endblock %}

    {% block body %}

    {% endblock %}

    {% block body2 %}
    {% endblock %}


    <!-- Footer -->
    {% block footer %}
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="footer_nav_container d-flex flex-sm-row flex-column align-items-center justify-content-lg-start justify-content-center text-center">
                        <ul class="footer_nav">
                            <li><a href="#">Blog</a></li>
                            <li><a href="{{ path('decodes_contact') }}">FAQs</a></li>
                            <li><a href="{{ path('decodes_contact') }}">Contact us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="footer_social d-flex flex-row align-items-center justify-content-lg-end justify-content-center">
                        <ul>
                            <li><a href="https://www.facebook.com/Decodes2013/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer_nav_container">
                        <div class="cr">©2018 All Rights Reserverd. This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#">DECODES</a></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    {% endblock %}
</div>




<script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ asset('styles/bootstrap4/popper.js') }}"></script>
<script src="{{ asset('styles/bootstrap4/bootstrap.min.js') }}"></script>
<script src="{{ asset('plugins/Isotope/isotope.pkgd.min.js') }}"></script>
<script src="{{ asset('plugins/OwlCarousel2-2.2.1/owl.carousel.js') }}"></script>
<script src="{{ asset('plugins/easing/easing.js') }}"></script>
<script src="{{ asset('js/custom.js') }}"></script>
{% block script %}{% endblock %}
</body>

</html>
