{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/bootstrap4/bootstrap.min.css') }}">
    <link href="{{ asset('plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{ asset('plugins/OwlCarousel2-2.2.1/owl.carousel.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('plugins/OwlCarousel2-2.2.1/owl.theme.default.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('plugins/OwlCarousel2-2.2.1/animate.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('plugins/jquery-ui-1.12.1.custom/jquery-ui.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/categories_styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/categories_responsive.css') }}">
{% endblock %}
{% block slider %}{% endblock %}
{% block banner %}{% endblock %}


{% block body %}
    <div class="container product_section_container" style="padding-top: 20px">
        <div>
            <table class="table table-striped table-hover">
                <tr>
                    <th>Nom</th>
                    <th>Username</th>
                    <th>Telephone</th>
                    <th>Adresse</th>
                    <th>Ville</th>
                    <th>Code Postale</th>
                    <th>Suprimmer</th>
                </tr>
                <tr>
                    <td>{{ client.lastname }} {{ client.firstname }}</td>
                    <td>{{ client.username }}</td>
                    <td>{{ client.telephone }}</td>
                    <td>{{ client.address }}</td>
                    <td>{{ client.city }}</td>
                    <td>{{ client.zipcode }}</td>
                    <td>
                        {{ form_start(delete_form) }}
                        <button type="submit" value="Delete" class="btn btn-danger"><i class="fa fa-eraser"></i></button>
                        {{ form_end(delete_form) }}
                    </td>
                </tr>
            </table>
            <table class="table table-striped table-hover">
                <tr>
                    <th colspan="4" class="text-center">
                        Commandes
                    </th>
                </tr>
                <tr>
                    <th>id</th>
                    <th>date</th>
                    <th>confirmation</th>
                    <td>options</td>
                </tr>
                {% for commande in client.command %}
                    <tr>
                        <td>
                            {{ commande.id }}
                        </td>
                        <td>
                            {{ commande.date|date('Y-m-d') }}
                        </td>
                        <td>
                            <ul class="fa-ul">
                                {% if commande.confirmation %}
                                    <li><i class="fa-li fa fa-check-square"></i>Terminé</li>
                                {% else %}
                                    <li><i class="fa-li fa fa-spinner fa-spin"></i>En attente</li>
                                {% endif %}
                            </ul>
                        </td>
                        <td>
                            <form method="POST" action="{{path("ConfirmeCom")}}" class="pull-left">
                                <input type="hidden" value="{{ commande.client }}" name="client"/>
                                <input type="hidden" value="{{commande.id}}" name="id"/>
                                <button class="btn btn-default btn-update"><i class="fa fa-send"></i></button>
                            </form>
                            <form method="POST" action="{{path("deleteCom")}}" class="pull-left">
                                <input type="hidden" value="{{commande.id}}" name="id"/>
                                <button class="btn btn-danger"><i class="fa fa-eraser"></i></button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <table class="table table-striped table-hover">
                <tr>
                    <th colspan="4" class="text-center">
                        Reviews
                    </th>
                </tr>
                <tr>
                    <th>id</th>
                    <th>produit</th>
                    <th>Avis</th>
                    <td>Commentaire</td>
                </tr>
                {% for review in reviews %}
                    <tr>
                        <td>
                            {{ review.id }}
                        </td>
                        <td>
                            {{ review.produit }}
                        </td>
                        <td>
                            <script>
                                for($i=0;$i<({{ review.review }})/2;$i++){
                                    document.write('<img width="13px" src="{{ asset('images/icons8-star-filled-50.png') }}">');
                                }
                                for($i=0;$i<5-({{ review.review }})/2;$i++){
                                    document.write('<img width="13px" src="{{ asset('images/icons8-star-50.png') }}">');
                                }
                            </script>
                        </td>
                        <td>
                            {{ review.description }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    </div>
{% endblock %}
{% block script %}
    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('styles/bootstrap4/popper.js') }}"></script>
    <script src="{{ asset('styles/bootstrap4/bootstrap.min.js') }}"></script>
    <script src="{{ asset('plugins/Isotope/isotope.pkgd.min.js') }}"></script>
    <script src="{{ asset('plugins/OwlCarousel2-2.2.1/owl.carousel.js') }}"></script>
    <script src="{{ asset('plugins/easing/easing.js') }}"></script>
    <script src="{{ asset('plugins/jquery-ui-1.12.1.custom/jquery-ui.js') }}"></script>
    <script src="{{ asset('js/categories_custom.js') }}"></script>
{% endblock %}


