{% extends 'base.html.twig' %}

{% block banner %}
    <!-- Banner -->
    <div class="banner">
        <div class="container">
            <div class="row">
                {% for category in categories %}
                <div class="col-md-4">
                    <div class="banner_item align-items-center"
                         style="background-image:url({{ asset('uploads/brochures/' ~ category.picture) }})">
                        <div class="banner_category">
                            <a href="{{ path('category_show', {'id': category.id}) }}">{{ category.name }} </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>

{% endblock %}
{% block body %}
<!-- New Arrivals -->
<div class="new_arrivals">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_title new_arrivals_title">
                    <h2>Nouvelles Arrivées</h2>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col">
                <div class="product-grid" data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>

                    <!-- Product 1 -->

                    {% for product in lastproducts|slice(0,5) %}
                        <div class="product-item men">
                            <div class="product discount product_filter">
                                <div class="product_image">
                                    <img src="{{ asset('uploads/brochures/' ~ product.picture) }}" alt="">
                                </div>
                                <div class="favorite favorite_left"></div>
                                <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-{{ product.price-product.promoprice }} DH</span></div>
                                <div class="product_info">
                                    <h6 class="product_name"><a href="{{ path('product_show', {'id': product.id}) }}">{{ product.name }}</a></h6>
                                    <div class="product_price">{{ product.promoprice }} DH<span>{{ product.price }} DH</span></div>
                                </div>
                            </div>
                            <form method="POST" action="{{path("AddToCard")}}">
                                <input type="hidden" value="{{product.id}}" name="productID"/>
                                <input type="hidden" value="1" id="CommandQuantity" name="CommandQuantity"/>
                                <input type="hidden" value="{{product.price}}" name="CommandPrice"/>
                                <input class="red_button add_to_cart_button" type="submit" value="Add to Card"/>
                            </form>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Best Sellers -->

<div class="best_sellers">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_title new_arrivals_title">
                    <h2>Meilleures ventes</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="product_slider_container">
                    <div class="owl-carousel owl-theme product_slider">
                        <!-- Slide 1 -->
                        {% for product in bestproducts %}
                            <div class="owl-item product_slider_item">
                                <div class="product-item">
                                    <div class="product discount">
                                        <div class="product_image">
                                            <img src="{{ asset('uploads/brochures/' ~ product.picture) }}" alt="">
                                        </div>
                                        <div class="favorite favorite_left"></div>
                                        <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-{{ product.price-product.promoprice }} DH</span></div>
                                        <div class="product_info">
                                            <h6 class="product_name"><a href="{{ path('product_show', {'id': product.id}) }}">{{ product.name }}</a></h6>
                                            <div class="product_price">{{ product.promoprice }} DH<span>{{ product.price }} DH</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}



                    <!-- Slider Navigation -->

                    <div class="product_slider_nav_left product_slider_nav d-flex align-items-center justify-content-center flex-column">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </div>
                    <div class="product_slider_nav_right product_slider_nav d-flex align-items-center justify-content-center flex-column">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Benefit -->

<div class="benefit">
    <div class="container">
        <div class="row benefit_row">
            <div class="col-lg-3 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon"><i class="fa fa-truck" aria-hidden="true"></i></div>
                    <div class="benefit_content">
                        <h6>LIVRAISON GRATUITE</h6>
                        <p>POUR TOUTES LES COMMANDES A NADOR</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon"><i class="fa fa-money" aria-hidden="true"></i></div>
                    <div class="benefit_content">
                        <h6>PAIEMENT À LA LIVRAISON</h6>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon"><i class="fa fa-undo" aria-hidden="true"></i></div>
                    <div class="benefit_content">
                        <h6>GARANTIE</h6>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 benefit_col">
                <div class="benefit_item d-flex flex-row align-items-center">
                    <div class="benefit_icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                    <div class="benefit_content">
                        <h6>DU LUNDI AU SAMEDI</h6>
                        <p>8AM - 19PM</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}