{% extends 'base.html.twig' %}

{% block title %}contact{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('styles/bootstrap4/bootstrap.min.css') }}">
<link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('plugins/OwlCarousel2-2.2.1/owl.carousel.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('plugins/OwlCarousel2-2.2.1/owl.theme.default.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('plugins/OwlCarousel2-2.2.1/animate.css') }}">
<link rel="stylesheet" href="{{ asset('plugins/themify-icons/themify-icons.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('plugins/jquery-ui-1.12.1.custom/jquery-ui.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('styles/contact_styles.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('styles/contact_responsive.css') }}">
    <style>
        input{
            border: #fe4c5063;
            border-style: solid;
            border-width: 1px;
            border-radius: 15px;
            width: 180px;
            margin-left: 10px;
            background: #FFFFFF;
            padding-left: 25px;
        }
        textarea{
            border: #fe4c5063;
            border-style: solid;
            border-width: 1px;
            border-radius: 15px;
            margin-left: 10px;
        }
        label{
            width: 80px;
            background: #FFFFFF;
            border: none;
        }
    </style>
{% endblock %}
{% block slider %}{% endblock %}
{% block banner %}{% endblock %}


{% block body %}

    <div class="container contact_container">
        <div class="row">
            <div class="col">

                <!-- Breadcrumbs -->

                <div class="breadcrumbs d-flex flex-row align-items-center">
                    <ul>
                        <li><a href="{{ path('decodes_homepage') }}">Home</a></li>
                        <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Contact</a></li>
                    </ul>
                </div>

            </div>
        </div>

        <!-- Map Container -->

        <div class="row">
            <div class="col">
                <div id="google_map">
                    <div class="map_container">
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Contact Us -->

        <div class="row">

            <div class="col-lg-6 contact_col">
                <div class="contact_contents">
                    <h1>Contactez-Nous</h1>
                    <p>
                        Il y a plusieurs façons de nous contacter. Vous pouvez nous laisser un message, nous téléphoner ou envoyer un courriel, choisissez ce qui vous convient le mieux.</p>
                    <div>
                        <p>05678-12349</p>
                        <p>decodes@email.com</p>
                    </div>

                    <div>
                        <p>Horaires d'ouverture: 8h00-18h00 du lundi au vendredi</p>
                        <p>Dimanche: Fermé</p>
                        <p>Vendredi: Ouverture à 15h</p>
                    </div>
                </div>

                <!-- Follow Us -->

                <div class="follow_us_contents">
                    <h1>Suivez nous</h1>
                    <ul class="social d-flex flex-row">
                        <li><a href="https://www.facebook.com/Decodes2013/" style="background-color: #3a61c9"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#" style="background-color: #41a1f6"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#" style="background-color: #fb4343"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#" style="background-color: #8f6247"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>

            </div>

            <div class="col-lg-6 get_in_touch_col">
                <div class="get_in_touch_contents">
                    <h1>Envoyez vos messages!</h1>
                    <p>Remplissez le formulaire ci-dessous pour envoyer un message gratuit et confidentiel.</p>
                    {{ form_start(form) }}
                    <div>
                        {{ form_label(form.username, 'Nom') }}
                        {{ form_widget(form.username) }}
                    </div>
                    <div>
                        {{ form_label(form.email, 'E-mail') }}
                        {{ form_widget(form.email) }}
                    </div>
                    <div>
                        {{ form_label(form.title, 'Titre') }}
                        {{ form_widget(form.title) }}
                    </div>
                    <div>
                        {{ form_label(form.description, 'Message') }}
                        {{ form_widget(form.description) }}
                    </div>
                    <button id="review_submit" type="submit" class="red_button review_submit_btn trans_300" value="review">Envoyer</button>
                    {{ form_end(form) }}
                </div>
            </div>

        </div>
    </div>

{% endblock %}
{% block script %}
    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('styles/bootstrap4/popper.js') }}"></script>
    <script src="{{ asset('styles/bootstrap4/bootstrap.min.js') }}"></script>
    <script src="{{ asset('plugins/Isotope/isotope.pkgd.min.js') }}"></script>
    <script src="{{ asset('plugins/OwlCarousel2-2.2.1/owl.carousel.js') }}"></script>
    <script src="{{ asset('plugins/easing/easing.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA"></script>
    <script src="{{ asset('plugins/jquery-ui-1.12.1.custom/jquery-ui.js') }}"></script>
    <script src="{{ asset('js/contact_custom.js') }}"></script>

{% endblock %}
